html, body, #map {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

#map {
    width: 100%;
}

form#selections {
    float: left;
}

div#selectSchematic {
    height: 50px;
}

button#remove-last, span#num-option, select#schematic, button#remove-last {
    display: none;
}

div#selectSchematic > * {
    margin-top: 10px;
    margin-left: 5px;
}