body {
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}

form#selections {
    float: left;
}

div#selectSchematic {
    height: 50px;
}

span#num-option {
    display: none;
}

button#remove {
    display: none;
}

div#selectSchematic > * {
    margin-top: 10px;
    margin-left: 5px;
}