html, body, #map {
    height: 100%;
}

body {
    padding-top: 50px;
}

body {
    margin: 0;
}

#map, nav#selectSchematic > .container {
    width: 100%;
}

li#schematics-tab {
    display: none;
}

div#radius-select {
    margin: 20px;
    width: 200px;
}